.flex-container {
    display: flex;
    flex-direction: column;
    
    text-align: center;
    max-width: 240px;
    justify-content: center;
}

.choices {
    display: flex;
    flex: 1;
    justify-content: center;
    background-color: #aed9e0;
    padding: 8px;
}

.player-choice {
    margin: 4px;
}

h3 {
    background-color: #5E6472;
    color: white;
    margin: 0px;
}

.info {
    background-color: #faf3dd;
    padding: 8px;
}